.titulo {

  font-size:24px;

  font-weight:700;

}



.info-venta {

  display:grid;

  grid-template-columns: repeat(2,1fr);

  gap:15px;

  margin-bottom:25px;

}



.dato {

  padding:15px;

  border-radius:15px;

  background:rgba(255,255,255,.7);

  border:1px solid rgba(0,0,0,.08);

  display:flex;

  flex-direction:column;

  gap:5px;

}



.dato strong {

  font-size:13px;

  opacity:.7;

}



.total span {

  font-size:22px;

  font-weight:700;

}



.subtitulo {

  margin-top:15px;

  font-size:18px;

  font-weight:600;

}



.tabla-container {

  overflow:auto;

  border-radius:15px;

}



table {

  width:100%;

}



th {

  font-weight:700;

}



td {

  padding:14px;

}



tr.mat-mdc-row:hover {

  background:rgba(0,0,0,.04);

}



.estado {

  width:max-content;

  padding:6px 14px;

  border-radius:20px;

  font-size:12px;

  font-weight:600;

}



.completada {

  background:#d1fae5;

  color:#047857;

}



.pendiente {

  background:#fef3c7;

  color:#b45309;

}



.cancelada {

  background:#fee2e2;

  color:#b91c1c;

}
