.historial-card {

  margin: 20px;

  border-radius: 20px;

  background: rgba(255,255,255,.75);

  backdrop-filter: blur(12px);

  border:1px solid rgba(255,255,255,.6);

  box-shadow:
    0 10px 25px rgba(0,0,0,.12);

}



mat-card-title {

  font-size: 24px;

  font-weight: 600;

}



.tabla-container {

  margin-top:20px;

  overflow:auto;

  border-radius:15px;

}



table {

  width:100%;

  background:transparent;

}



th {

  font-weight:700;

  font-size:14px;

}



td {

  padding:16px 12px;

}



.fila {

  transition:.2s ease;

}



.fila:hover {

  background:rgba(0,0,0,.04);

}



.estado {

  padding:6px 14px;

  border-radius:20px;

  font-size:12px;

  font-weight:600;

}



.completada {

  background:#d1fae5;

  color:#047857;

}



.pendiente {

  background:#fef3c7;

  color:#b45309;

}



.cancelada {

  background:#fee2e2;

  color:#b91c1c;

}



.detalle-btn {

  transition:.2s;

}



.detalle-btn:hover {

  transform:scale(1.15);

}
