<mat-card class="historial-card">

  <mat-card-header>

    <mat-card-title>
      Historial de Ventas
    </mat-card-title>

    <mat-card-subtitle>
      Consulta todas las ventas registradas
    </mat-card-subtitle>

  </mat-card-header>


  <mat-card-content>


    <div class="tabla-container">

      <table mat-table [dataSource]="ordenes">


        <ng-container matColumnDef="id">

          <th mat-header-cell *matHeaderCellDef>
            ID
          </th>

          <td mat-cell *matCellDef="let venta">
            #{{venta.id}}
          </td>

        </ng-container>



        <ng-container matColumnDef="cliente">

          <th mat-header-cell *matHeaderCellDef>
            Cliente
          </th>

          <td mat-cell *matCellDef="let venta">
            {{venta.cliente?.nombreCompleto}}
          </td>

        </ng-container>



        <ng-container matColumnDef="fecha">

          <th mat-header-cell *matHeaderCellDef>
            Fecha
          </th>

          <td mat-cell *matCellDef="let venta">
            {{venta.fechaOrden | date:'dd/MM/yyyy HH:mm'}}
          </td>

        </ng-container>



        <ng-container matColumnDef="estado">

          <th mat-header-cell *matHeaderCellDef>
            Estado
          </th>

          <td mat-cell *matCellDef="let venta">

            <span
              class="estado"
              [ngClass]="venta.estado.toLowerCase()">

              {{venta.estado}}

            </span>

          </td>

        </ng-container>



        <ng-container matColumnDef="total">

          <th mat-header-cell *matHeaderCellDef>
            Total
          </th>

          <td mat-cell *matCellDef="let venta">

            {{venta.total | currency:'MXN'}}

          </td>

        </ng-container>



        <ng-container matColumnDef="acciones">

          <th mat-header-cell *matHeaderCellDef>
            Acción
          </th>


          <td mat-cell *matCellDef="let venta">

            <button
              mat-icon-button
              class="detalle-btn"
              (click)="verDetalle(venta)">

              <mat-icon>
                visibility
              </mat-icon>

            </button>

          </td>

        </ng-container>



        <tr
          mat-header-row
          *matHeaderRowDef="columnas">
        </tr>


        <tr
          mat-row
          class="fila"
          *matRowDef="let row; columns: columnas">
        </tr>


      </table>

    </div>


  </mat-card-content>


</mat-card>
